* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  width: 100%;
}
p {
  margin-bottom: 0;
}

#articles {
  float: left;
  width: 50%;
}

#articles p {
  cursor: pointer;
  font-size: 18px;
}

#articles a {
  display: inline-block;
  margin-bottom: 20px;
}

#notes {
  width: 50%;
  float: right;
}

textarea, input {
  display: block;
  width: 80%;
  margin: 5px;
  padding: 12px 20px;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 150px;
  font-size: 24px;
}

button#savenote {
  background-color: rgb(78, 177, 223);
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}